* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    --primary-orange : #FF9C41;
    --primary-black : #333333;
    --primary-white : #FFFFFF;
    --secondary-text : #676767;

}
body {
    background-image: url('pictures/BG_main.png');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 1600px 800px; 
}
.header {
    max-width: 1600px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.header-container {
    max-width: calc(100% - 213px*2);
    width: 100%;
    margin: 0 auto;
    padding-top: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-search {
    display: flex;
    align-items: center;
    gap: 30px;
}
.header-search input {
    width: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    color: var(--primary-black);
}
.header-search img {
    width: 24px;
    height: 24px;
}
.header-logo {
    display: flex;
    align-items: center;
    gap: 15px;
}
.header-logo img {
    width: 35px;
    height: 35px;
}
.header-logo span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: var(--primary-black);
}
.header-left {
    display: flex;
    align-items: center;
    gap: 167px;
}
.header-right {
    display: flex;
    align-items: center;
    gap: 80px;
}
.nav {
    display: flex;
    align-items: center;
    gap: 80px;
}

.nav-list {
    display: flex;
    gap: 50px;
    list-style: none;
}

.nav-list a {
    text-decoration: none;
    font-size: 16px;
    line-height: 100%;
    font-weight: 400;
    color: var(--primary-black);
    padding-bottom: 3px;
}
.nav-list a:hover {
    border-bottom: 2px solid;
    padding-bottom: 1px;
}

.burger-menu {
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.firstPage {
    width: 100%;
    max-width: 1600px;
    min-height: 800px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.firstPage_container {
    margin-left: 485px;
    top: 219px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 54px;
}
.firstPage_title {
    width: 900px;
    height: 170px;
    font-style: bold;
    font-size: 72px;
    font-weight: 800;
    line-height: 85px;
    color: var(--primary-black);
    margin-bottom: 39px;
}
.firstPage_title span {
    color: var(--primary-orange);
}
.firstPage_description {
    width: 466px;
    font-style: bold;
    font-size: 16px;
    line-height: 100%;
    font-weight: 700;
    color: var(--primary-black);
    max-width: 466px;
}
.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 16px 40px;
    text-decoration: none;
    border-radius: 40px;
    align-self: flex-start; 
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
}

.btn-orange {
    background-color: var(--primary-orange);
    color: var(--primary-white);
}

.btn-orange:hover {
    background-color: var(--primary-black);
    color: var(--primary-white);
}
.btn-orange:active {
    background-color: var(--primary-white);
    color: var(--primary-black);
}
.firstPage_socials {
    display: flex;
    gap: 25px;
}

.firstPage_socials img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: var(--primary-black);
}

.firstPage_socials img:hover {
    color: var(--primary-orange);
}