* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    --primary-orange : #FF9C41;
    --primary-black : #333333;
    --primary-white : #FFFFFF;
    --secondary-text : #676767;

}
/*----- секция--------*/
.header {
    max-width: 1600px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
}
.header-container {
    max-width: calc(100% - 213px*2);
    width: 100%;
    margin: 0 auto;
    padding-top: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-search {
    display: flex;
    align-items: center;
    gap: 30px;
}
.header-search input {
    width: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    color: var(--primary-black);
}
.header-search img {
    width: 24px;
    height: 24px;
}
.header-logo {
    display: flex;
    align-items: center;
    gap: 15px;
}
.header-logo img {
    width: 35px;
    height: 35px;
}
.header-logo span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: var(--primary-black);
}
.header-left {
    display: flex;
    align-items: center;
    gap: 167px;
}
.header-right {
    display: flex;
    align-items: center;
    gap: 80px;
}
.nav {
    display: flex;
    align-items: center;
    gap: 80px;
}

.nav-list {
    display: flex;
    gap: 50px;
    list-style: none;
}

.nav-list a {
    text-decoration: none;
    font-size: 16px;
    line-height: 100%;
    font-weight: 400;
    color: var(--primary-black);
    padding-bottom: 3px;
}
.nav-list a:hover {
    border-bottom: 2px solid;
    padding-bottom: 1px;
}

.burger-menu {
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
    width: 24px;
    height: 24px;
}
@media (max-width: 320px) {
.header-container {
    padding: 15px 15px 0 15px;
    max-width: 100%;}   
.header {max-width: 320px;}
.header-logo {gap: 10px;}
.header-logo img {
    width: 20px;
    height: 20px;
} 
.header-search {display: none;}
.nav-list { display: none;}
}
/*----- секция--------*/
.firstPage {
    background-image: url('pictures/BG_main.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 1600px;
    max-height: 800px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 124px;
}
.firstPage_container {
    margin-top: 110px;
    margin-left: 485px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 54px;
}
.firstPage_title {
    width: 900px;
    height: 170px;
    font-size: 72px;
    font-weight: 800;
    line-height: 82px;
    letter-spacing: 0%;
    color: var(--primary-black);
}
.firstPage_title span {
    color: var(--primary-orange);
}
.firstPage_description {
    width: 466px;
    height: 66px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0%;
    color: var(--primary-black);
    max-width: 466px;
}
.firstPage_buttons {
    margin-left: 209px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 166px;
}
.btn {
    width: 230px;
    height: 54px;
    padding: 16px 10px;
    gap: 10px;
    text-decoration: none;
    border-radius: 40px;
    align-self: flex-start; 
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
    font-style: bold;
    letter-spacing: 0%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.btn-orange {
    background-color: var(--primary-orange);
    color: var(--primary-white);
}

.btn-orange:hover {
    background-color: var(--primary-black);
    color: var(--primary-white);
}
.btn-orange:active {
    background-color: var(--primary-white);
    color: var(--primary-black);
}
.firstPage_socials {
    display: flex;
    gap: 25px;
}

.firstPage_socials img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: var(--primary-black);
}
.firstPage_socials_FB {
    transition: content 0.2s ease-in-out;
}
.firstPage_socials_FB:hover {
    content: url(icons/Facebook-Hover.svg);
}
.firstPage_socials_TW {
    transition: content 0.2s ease-in-out;    
}
.firstPage_socials_TW:hover {
    content: url(icons/Twitter-Hover.svg);
}
.firstPage_socials_IS {
    transition: content 0.2s ease-in-out;    
}
.firstPage_socials_IS:hover {
    content: url(icons/InstagramIcon_main.svg);
}
@media (max-width: 320px) {
 .firstPage {
    gap: 40px;
    height: 431px;
 }
 .firstPage_container {
    margin-top: 60px;
    margin-left: 15px;
    gap: 20px;

 }
 .firstPage_socials {
    display: none;
 }
 .firstPage_buttons {
    margin-left: 15px;
 }
 .firstPage_title {
    width: 100%;
    height: auto;
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
 }
 .firstPage_description {
    width: 100%;
    height: auto;
    font-size: 14px;
    font-weight: 700;
 }
 .btn {
    width: 190px;
    height: auto;
    padding: 14px 10px;
    font-size: 14px;
 }  
}
/*----- секция--------*/

.OurServices {
    width: 100%;
    max-width: 1600px;
    min-height: 805px;
    height: 100vh;
    background-color: #000000;
    background-image: linear-gradient(rgba(0, 0, 0, 0.80)), url('pictures/Rectangle\ 359.png');
    background-size: cover;
    background-position: center;
    color:  var(--primary-white);
}
.OurServices_container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 215px;
    gap: 70px;
}
.OurServices_title {
    font-size: 70px;
    font-weight: 800;
    letter-spacing: 0%;
    line-height: 100%;
    padding-bottom: 12px;
}
.OurServices_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 140px;
}
.OurServices_card {
    height: 360px;
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
}
.OurServices_card h2 {
    font-size: 34px;
    font-weight: 800;
    line-height: 40px;
}
.OurServices_card p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    font-style: normal;
}
.OurServices_card a {
    margin-top: auto;
    text-decoration: underline;
    font-size: 20px;
    font-weight: 700;
    line-height: 100%;
    cursor: pointer;
    color: var(--primary-white);
}
.OurServices_card a:hover {
    color: var(--primary-orange);
}
@media (max-width: 320px) {
.OurServices {
    height: auto;
    min-height: auto;
    padding: 50px 20px 60px 20px;
}
.OurServices_container {
    height: auto;
    gap: 20px;
    margin: 0 auto;
}
.OurServices_card {
    width: 280px;
    height: auto;
}
.OurServices_title {
    font-size: 28px;
    line-height: 40px;
    padding-bottom: 0;
}
.OurServices_card h2 {
    font-size: 20px;
    line-height: 100%;
}

.OurServices_grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.OurServices_card p {
    font-size:14px;
    line-height: 100%;
}    
}    
/*----- секция--------*/
.Intro {
    width: 100%;
    max-width: 1600px;
    height: 485px;
    display: grid;
    grid-template-columns: 480px 500px;
    column-gap: 105px;
    align-items: center;
    margin-left: 215px;
}
.Intro_text_bold {
    font-size: 24px;
    font-weight: 800;
    line-height: 35px;
    color: var(--primary-black);
    text-align: left;
}
.Intro_text_regular {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    color: var(--secondary-text);
}
@media (max-width: 320px) {
.Intro {
    width: 320px;
    height: auto;
    padding: 50px 15px 60px 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 auto;
}
.Intro_text_bold {
    font-size: 18px;
    line-height: 24px;    
}
.Intro_text_regular {
    font-size: 16px;
    line-height: 22px;
}               
}
/*----- секция--------*/

.SingleFamily {
    position: relative;
    width: 100%;
    max-width: 1600px;
    min-height: 804px;
    height: 100vh;
    background-image:url('pictures/image\ 5.png');
    background-size: cover;
    background-position: center;
}
.SingleFamily_container {
    width: 785px;
    height: 804px;
    background-image: url('pictures/Rectangle\ 362.png');
    display: flex;
    justify-content: center;
    align-items: center;

}
.SingleFamily_info {
    width: 338px;
    height: 378px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
    gap: 80px;
}
.SingleFamily_text_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
}
.SingleFamily_title {
    font-size: 45px;
    font-weight: 800;
    line-height: 40px;
    color: var(--primary-black);
}
.SingleFamily_header {
    font-size: 24px;
    font-weight: 800;
    color: var(--primary-black);
}
.SingleFamily_description {
    font-size: 16px;
    font-weight: 700;
    color: var(--primary-black);
}
.Main_btn {
    width: 230px;
    height: 54px;
    padding: 16px 10px;
    border-radius: 40px;
    border: var(--primary-orange) 2px solid;
    gap: 10px;
    color: var(--primary-orange);
    background: #ff9d4100 0%;
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.Main_btn:hover {
    background: #FF9C411A;
}
.SingleFamily_Separator {
   height: calc(100% - 40px);
   position: absolute;
   top: 0;
   bottom: 0;
   left: 755px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center; 
}
.btn-next {
    background: none;
    cursor: pointer;
    border: none;
}
@media (max-width: 320px) {
.SingleFamily {
    width: 100%;
    min-height: auto;
    height: calc(465px + 258px);
    background-image:url('mobile/image\ 7.png');
    background-repeat:no-repeat ;
    background-size: contain;
    background-position: top;
}
.SingleFamily_container {
    position: absolute;
    top: 400px;
    width: auto;
    height: calc(258px + 65px);
    padding-left: 15px;
    background-image: none;
    align-items: initial;
}    
.SingleFamily_info {
    width: auto;
    height: auto;
    background-image: none;
    gap: 30px;
    justify-content: flex-start;
}
.SingleFamily_text_container {
    gap: 10px;
    align-items: normal;
    margin-top: 15px;
    padding-right: 15px;
}    
.SingleFamily_title {
   font-size: 28px;
   font-weight: 700;
   color: var(--primary-white); 
}
.SingleFamily_header {
    font-size: 20px;
    line-height: 100%;
}
.SingleFamily_description {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0%;
}
.SingleFamily_Separator_separator{
    display: none;
}
.SingleFamily_Separator {
    height: auto;
    top: 54%;
    left: 77%;
}                            
}    
/*----- секция--------*/
.Team {
    width: 100%;
    max-width: 1600px;
    padding: 130px 215px 150px 215px;
}
.Team_container {
    display: flex;
    flex-direction: column;
    gap: 70px;
}
.Team_title {
    font-size: 45px;
    font-weight: 800;
    line-height: 40px;
    color: var(--primary-black);
}
.Team_intro {
    height: 75px;
    display: flex;
    gap: 100px;
}
.Team_intro_lead {
    width: 540px;
    font-size: 24px;
    font-weight: 700;
    color: var(--primary-black);    
}
.Team_intro_text {
    width: 470px;
    font-size: 18px;
    font-weight: 400;
    color: var(--secondary-text);
}
.Team_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;    
}
.Team_card {
    width: 360px;
    height: 443px;
    display: flex;
    flex-direction: column;
    gap: 17px;
}
.Team_text{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.Team_name {
    font-size: 24px;
    font-weight: 700;
    color: var(--primary-black);
}
.Team_position {
    font-size: 16px;
    font-weight: 400;
    color: var(--primary-black);
}
@media (max-width: 320px) {
.Team {
    padding: 0;
    width: 100%;
    height: auto;
}
.Team_container {
    gap: 30px;
}
.Team_title {
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 28px;    
}
.Team_intro {
    padding-left: 15px;
    padding-right: 15px;
    height: auto;
    flex-direction: column;
    gap: 20px;    
}
.Team_intro_text {
    width: 100%;
    font-size: 16px;
}
.Team_intro_lead {
    width: 100%;
    font-size: 18px;
    line-height: 24px;   
}            
.Team_card {
    width: 100%;
    height: auto;
    gap: 20px;
}
.Team_text{
    justify-content: center;
    align-items: center;
}
.Team_grid {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
.Team_card {
    width: 100%;
    height: auto;
    padding-bottom: 60px;
    flex: 0 0 100%;
    scroll-snap-align: center;
}                       
}    
/*----- секция--------*/
.Form {
    width: 100%;
    max-width: 1600px;
    min-height: 535px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.85)), url('pictures/Form_BG.png');
    background-size: cover;
    background-position: center;
}
.Form_container {
    display: flex;
    flex-direction: column;
    padding-top: 140px;
    padding-left: 400px;
    gap: 87px;
}
.Form_title {
    font-size: 45px;
    font-weight: 800;
    line-height: 40px;
    color: var(--primary-white);  
}
.Form_form {
    display: flex;
    align-items: flex-end;
    gap: 70px;
    width: 100%;
}
.Form_group input{
    width: 500px;
    background: transparent;
    border: none;
    border-bottom: 2px solid var(--primary-white);
    padding-bottom: 8px;
    color: var(--primary-white);
    font-size: 18px;
}
.Form_group input::placeholder {
    font-size: 18px;
    font-weight: 400;
    color: var(--primary-white);
}
.Form_btn {
    width: 230px;
    height: 56px;
    padding: 16px 10px;
    border-radius: 40px;
    border: none;
    gap: 10px;
    color: var(--primary-orange);
    background: var(--primary-white);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    display: flex;
    justify-content: center;
    align-content: center;
    cursor: pointer;   
}
.Form_btn:hover {
    background: #FF9C411A;   
}
@media (max-width: 320px) {
.Form {
    height: auto;
    min-height: auto;  
}
.Form_container {
    height: auto;
    padding: 50px 15px 60px 15px;
    gap: 30px;
}
.Form_title {
    width: auto;
    height: auto;
    font-size: 28px;
    line-height: 38px;
    font-weight: 700;
    text-align: center
}    
.Form_form {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;               
}
.Form_group input{
    width: 290px;
}
.Form_btn {
    width: 190px;
    height: 48px;
    padding: 14px 10px;
    font-size: 14px;
    line-height: 20px;
}
}        
/*----- секция--------*/
.Projects {
    width: 100%;
    max-width: 1600px;
    padding: 127.75px 0 150px 215px;
}
.Projects_title {
    font-size: 45px;
    font-weight: 800;
    line-height: 40px;
}
.Projects_container {
    margin-top: 73px;
    display: flex;
    gap: 0;
}
.Project_card {
    width: 420px;
    height: 745px;
    position: relative;
    display: block;

}
.Project_card .btn-next {
    display: none;
}
.Projects_card img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}
.Project_card::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: opacity 0.3s ease;
}
.Project_card_name {
    position: absolute;
    bottom: 40px;
    left: 49px;
    color: var(--primary-white);
    font-size: 35px;
    font-weight: 800;
    line-height: 100%;
    z-index: 1;
    opacity: 0;
    transition: 0.3s ease;
}
.Project_card:hover .Project_card_name {
    opacity: 1;
    transition: opacity 0.3s ease 0.2s;
}
.Project_card:hover::before {
    opacity: 1;
}
@media (max-width: 320px) {
.Projects {
    height: auto;
    padding: 50px 0 70px 0;

}
.Projects_title {
    font-size: 28px;
    padding-left: 15px;
    padding-right: 15px;
}
.Projects_container {
    margin-top: 30px;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
.Project_card {
    height: 560px;
    width: 100%;
    flex: 0 0 100%;
    scroll-snap-align: center;
}
.Project_card::before {
    content: none;
}    
.Project_card_name {
    font-size: 28px;
    left: 15px;
    bottom: 25px;
    opacity: 1;
}
.Project_card .btn-next {
    display: block;
    left: 245px;
    bottom: 15px;
    position: absolute;
    background: none;
    cursor: pointer;
    border: none;   
}
.Project_card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}        
}    
/*----- секция--------*/
.footer {
    width: 100%;
    max-width: 1600px;
    min-height: 313px;
    border-top: 1px solid black;    
}
.footer_content {
    margin-top: 50px;
    margin-left: 215px;
    display: flex;

}
.footer_nav {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 80px;
}
.footer_nav_list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
}
.footer_nav_list h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
    color: var(--primary-black);
}
.footer_nav_list p {
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    color: var(--primary-black);
}
.footer_social {
   margin-left: 341px;
}
.footer_social_links {
    display: flex;
    gap: 25px;
    cursor: pointer;
}
.footer_social_FB {
    transition: content 0.2s ease-in-out;   
}
.footer_social_FB:hover {
    content: url(icons/Facebook-Hover.svg); 
}
.footer_social_TW {
    transition: content 0.2s ease-in-out;   
}
.footer_social_TW:hover {
    content: url(icons/Twitter-Hover.svg); 
}
.footer_social_IS {
    transition: content 0.2s ease-in-out;   
}
.footer_social_IS:hover {
    content: url(icons/InstagramIcon_main.svg); 
}
.footer_logo {
    margin-top: 70px;    
}
.footer_copyright {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 400;
}
@media (max-width: 320px) {
.footer {
    width: 320px;
    min-height: auto;
    padding: 30px 15px;

}
.footer_content{
    margin: 0 auto;
    flex-direction: column;
    gap: 57px;
}
.footer_nav_list p {
    display: none;
}
.footer_nav {
    height: calc(22px + 22px + 10px);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}
.footer_nav_list h3 {
    flex: 0 0 calc(50% - 10px);
}
.footer_social {
    margin: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: space-between;
}
.footer_social_logoblock {
    display: flex;
    align-items: flex-end;
    gap: 10px;
}
.footer_social_links {
    gap: 10px;
}
.footer_logo {
    height: 25px;
    width: 25px;
    margin: 0 auto;        
}
.footer_copyright {
    margin: 0 auto;
}    
}    